/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-ene-2020, 11:07:29
    Author     : Asus
*/
.label{
    -fx-font-family: System;
    -fx-font-size: 16px;
    -fx-text-fill: #cdcdcd;
}
.jfx-cmb{
    
    -jfx-unfocus-color: #ffffff;
    -fx-prompt-text-fill: #ffffff;
    -fx-font-family: System;
    -fx-font-size: 16px;
}